:root {
  --mainBlue: #2d1ef1;
  --mainPink: #ea1e63;
  --mainGrey: #eee;
  --mainWhite: #fff;
  --mainDark: #222;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Montserrat", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
  letter-spacing: 0.25rem !important;
}

.text-pink {
  color: var(--mainPink);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainPink);
  font-size: 2rem;
}

.default-bg,
.about-bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #bc4e9c 10%, #f80759 60%);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8 !important;
}

.about-bg {
  min-height: 60vh;
}

.btn-pink {
  color: var(--mainPink);
  border-color: var(--mainPink);
}

.btn-pink:hover {
  background: var(--mainPink);
  color: var(--mainGrey);
}

.footer {
  background: var(--mainGrey);
}